<div>
    <p>
        <label class="text_box">
            <input class="text_box" type="text" name="search_word" value="ここではきものをぬいでください" required>
        </label>
        <label class="button">
            <input class="button" type="button" name="search_start" value="検索">
        </label>
    </p>
    <p>
        <label class="checkbox">
            <input class="checkbox" type="checkbox"> 完全一致
        </label>
        <label class="checkbox">
            <input class="checkbox" type="checkbox"> コメントを対象に含める
        </label>
    </p>
</div>
